In [1]:
import pandas as pd

csv_files = [
    '/content/api_data_aadhar_biometric_0_500000.csv',
    '/content/api_data_aadhar_biometric_500000_1000000.csv',
    '/content/api_data_aadhar_biometric_1000000_1500000.csv',
    '/content/api_data_aadhar_biometric_1500000_1861108.csv'
]

# Create an empty list to store individual DataFrames
dfs = []

# Loop through each CSV file, read it, and append to the list
for file in csv_files:
    df = pd.read_csv(file)
    dfs.append(df)

# Concatenate all DataFrames in the list
merged_df = pd.concat(dfs, ignore_index=True)

print(f"Merged DataFrame has {len(merged_df)} rows and {len(merged_df.columns)} columns.")
display(merged_df.head())

Merged DataFrame has 1861108 rows and 6 columns.

,date,state,district,pincode,bio_age_5_17,bio_age_17_
0,01-03-2025,Haryana,Mahendragarh,123029,280,577
1,01-03-2025,Bihar,Madhepura,852121,144,369
2,01-03-2025,Jammu and Kashmir,Punch,185101,643,1091
3,01-03-2025,Bihar,Bhojpur,802158,256,980
4,01-03-2025,Tamil Nadu,Madurai,625514,271,815

In [2]:
merged_df.to_csv('merged_aadhar_data.csv', index=False)
print("Merged DataFrame saved to 'merged_aadhar_data.csv'")

Merged DataFrame saved to 'merged_aadhar_data.csv'

In [3]:
import pandas as pd

demographic_csv_files = [
    '/content/api_data_aadhar_demographic_0_500000.csv',
    '/content/api_data_aadhar_demographic_500000_1000000.csv',
    '/content/api_data_aadhar_demographic_1000000_1500000.csv',
    '/content/api_data_aadhar_demographic_1500000_2000000.csv',
    '/content/api_data_aadhar_demographic_2000000_2071700.csv'
]

# Create an empty list to store individual DataFrames
demographic_dfs = []

# Loop through each CSV file, read it, and append to the list
for file in demographic_csv_files:
    df = pd.read_csv(file)
    demographic_dfs.append(df)

# Concatenate all DataFrames in the list
merged_demographic_df = pd.concat(demographic_dfs, ignore_index=True)

print(f"Merged Demographic DataFrame has {len(merged_demographic_df)} rows and {len(merged_demographic_df.columns)} columns.")
display(merged_demographic_df.head())

Merged Demographic DataFrame has 2071700 rows and 6 columns.

,date,state,district,pincode,demo_age_5_17,demo_age_17_
0,01-03-2025,Uttar Pradesh,Gorakhpur,273213,49,529
1,01-03-2025,Andhra Pradesh,Chittoor,517132,22,375
2,01-03-2025,Gujarat,Rajkot,360006,65,765
3,01-03-2025,Andhra Pradesh,Srikakulam,532484,24,314
4,01-03-2025,Rajasthan,Udaipur,313801,45,785

In [4]:
merged_demographic_df.to_csv('merged_aadhar_demographic_data.csv', index=False)
print("Merged Demographic DataFrame saved to 'merged_aadhar_demographic_data.csv'")

Merged Demographic DataFrame saved to 'merged_aadhar_demographic_data.csv'

In [5]:
import pandas as pd

enrolment_csv_files = [
    '/content/sample_data/api_data_aadhar_enrolment_0_500000.csv',
    '/content/sample_data/api_data_aadhar_enrolment_500000_1000000.csv',
    '/content/sample_data/api_data_aadhar_enrolment_1000000_1006029.csv'
]

# Create an empty list to store individual DataFrames
enrolment_dfs = []

# Loop through each CSV file, read it, and append to the list
for file in enrolment_csv_files:
    df = pd.read_csv(file)
    enrolment_dfs.append(df)

# Concatenate all DataFrames in the list
merged_enrolment_df = pd.concat(enrolment_dfs, ignore_index=True)

print(f"Merged Enrolment DataFrame has {len(merged_enrolment_df)} rows and {len(merged_enrolment_df.columns)} columns.")
display(merged_enrolment_df.head())

Merged Enrolment DataFrame has 1006029 rows and 7 columns.

,date,state,district,pincode,age_0_5,age_5_17,age_18_greater
0,02-03-2025,Meghalaya,East Khasi Hills,793121,11,61,37
1,09-03-2025,Karnataka,Bengaluru Urban,560043,14,33,39
2,09-03-2025,Uttar Pradesh,Kanpur Nagar,208001,29,82,12
3,09-03-2025,Uttar Pradesh,Aligarh,202133,62,29,15
4,09-03-2025,Karnataka,Bengaluru Urban,560016,14,16,21

In [6]:
merged_enrolment_df.to_csv('merged_aadhar_enrolment_data.csv', index=False)
print("Merged Enrolment DataFrame saved to 'merged_aadhar_enrolment_data.csv'")

Merged Enrolment DataFrame saved to 'merged_aadhar_enrolment_data.csv'